.textfield {
    color: rgb(255, 255, 255);
}
.Dice-logo{
    border-radius: 1rem;
}
.link-container{
    background-color:rgb(100, 7, 176);
    height: 15vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}
.link-container:hover{
    background-color:rgb(88, 6, 155);
}

li {
    text-decoration: none;
    list-style-type: none;
}
.Nav-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: inherit;
    border-radius: inherit;
    height: inherit;
}

.Nav-link:hover {
    cursor: pointer;
}
.disc{
    font-size: 12px;
    color: rgb(195, 195, 195);
    font-weight: lighter;
}